<div class="hidden md:flex flex-col sm:flex-row justify-between items-center mb-6 space-x-5 nav_liste_content_iconprofile">
	<ul class="flex space-x-2 order-1 sm:order-2">

		<li>
			<a href="{{ path('app_documents_index') }}" class="bg-unst-blue text-white nav_link">
				Mes Documents
			</a>
		</li>


		<li>
			<a href="{{ path('app_step_index') }}" class="bg-unst-blue text-white nav_link">
				Voir les Démarche


			</a>
		</li>


		<li>
			{% if app.user and 'ROLE_STUDENT' in app.user.roles %}
				<a href="{{ path('app_student_appointments') }}" class="bg-unst-blue text-white nav_link">

					Mes rendez-vous
				</a>
			{% else %}
				<a href="{{ path('app_appointment_index') }}" class="bg-unst-blue text-white nav_link" aria-label="Voir les rendez-vous">
					Voir les rendez-vous
				</a>
			{% endif %}
		</li>

		<li>
			<a href="{{ path('app_existing_conversations') }}" class="bg-unst-blue text-white nav_link">
				Messages
			</a>
		</li>

		{% if app.user %}
			{% if 'ROLE_ADMIN' in app.user.roles %}
				<li>
					<a href="{{ path('app_adminpage') }}" class="bg-unst-blue text-white nav_link">
						Espace Admin
					</a>

				</li>
				<li>
					<a href="{{ path('app_myprofile') }}" class="bg-unst-blue text-white nav_link">
						Mon profil
					</a>

				</li>

			{% elseif 'ROLE_COACH' in app.user.roles %}
				<li>
					<a href="{{ path('app_coachepage') }}" class="bg-unst-blue text-white nav_link">
						Espace COACH
					</a>
				</li>
			{% elseif 'ROLE_USER' in app.user.roles %}
				<li>
					<a href="{{ path('app_myprofile') }}" class="bg-unst-blue text-white nav_link">

						Mon profil
					</a>

				</li>
			{% endif %}
		{% endif %}

		<li>
			<a href="{{ path('app_logout') }}" class="bg-unst-blue text-white nav_link">
				Déconnexion
			</a>
		</li>
	</ul>
</div>
