{{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded-lg p-6'}}) }}

<div class="mb-4">
	{{ form_row(form.title, {
        'attr': {
            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
            'placeholder': 'Step Title'
        }
    }) }}
</div>

<div class="mb-4">
	{{ form_row(form.description, {
        'attr': {
            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',
            'placeholder': 'Step Description',
            'rows': 4
        }
    }) }}
</div>




{{ form_end(form) }}
<button type="submit" class="bg-custom-blue text-white py-2 px-4 rounded hover:text-custom-hover">

	{{ button_label|default('Save') }}
</button>
