{% extends 'base.html.twig' %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app']) }}
	{% endblock %}
{% endblock %}


{% block body %}
	<div class="container mx-auto mt-40 p-4 min-h-screen">
		<h1 class="text-3xl font-bold mb-4">Steps List</h1>

		<table class="table-auto w-full mt-4">
			<thead>
				<tr class="bg-gray-200">
					<th class="px-4 py-2">ID</th>
					<th class="px-4 py-2">Title</th>
					<th class="px-4 py-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for step in steps %}
					<tr>
						<td class="border px-4 py-2">{{ step.id }}</td>
						<td class="border px-4 py-2">{{ step.title }}</td>
						<td class="border px-4 py-2">
							<a href="{{ path('app_step_show', {id: step.id}) }}" class="text-blue-500 hover:underline">Show</a>
							<a href="{{ path('app_step_edit', {id: step.id}) }}" class="text-green-500 hover:underline ml-2">Edit</a>
							<form action="{{ path('app_step_delete', {id: step.id}) }}" method="post" onsubmit="return confirm('Are you sure?');" style="display:inline-block;">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ step.id) }}">
								<button class="text-red-500 hover:underline ml-2">Delete</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3" class="text-center py-4">No steps found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_step_new') }}" class="bg-custom-blue text-white py-2 px-4 rounded hover:text-custom-hover">

			Create New Step
		</a>


	</div>
{% endblock %}
