{% extends 'base.html.twig' %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app']) }}
	{% endblock %}
{% endblock %}

{% block body %}
	<div class="container mx-auto p-4 mt-36">
		<h1 class="text-3xl font-bold mb-4">Create New Step</h1>

		{{ form_start(form) }}
		<div class="mb-4">
			{{ form_row(form.title, {
                'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}
            }) }}
		</div>

		<div class="mb-6">
			{{ form_row(form.description, {
                'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', 'rows': 4}
            }) }}
		</div>

		<div class="flex items-center justify-between">
			<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
				Create
			</button>
			<a href="{{ path('app_step_index') }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
				Back to list
			</a>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

