{% extends 'base.html.twig' %}

{% block title %}Service
{% endblock %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app']) }}
	{% endblock %}
{% endblock %}


{% block body %}
	<main class="container mx-auto py-15 px-4 pt-20 md:pt-28 mb-16">

		<div class="container mx-auto p-8">
			<div class="flex flex-col md:flex-row items-center">
				<div class="flex-1">
					<img src="{{ asset('img/service/call.png') }}" alt="service Image" class="rounded-md shadow-md">
				</div>
				<div class="flex-1 md:ml-8 mt-4 md:mt-0">
					<h1 class="text-4xl font-bold text-black">Services exclusifs</h1>
					<p class="mt-4 text-black">Ceci est notre Page de services. C'est l'endroit idéal pour vous fournir des informations sur les services que nous proposons.</p>
				</div>
			</div>
		</div>

		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			<!-- Ajout des sections services -->
			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Formations professionnelles</h2>
				<img src="{{ asset('img/service/prof.png') }}" alt="Formation Professionnelles" class="h-48 w-full object-cover mb-4">
				<p class="text-black">Avec nos experts, nous organisons des formations professionnelles dans les domaines clés de l'activité économique du pays...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Innovation Métiers</h2>
				<img src="{{ asset('img/service/innovation.png') }}" alt="Innovation Métiers" class="h-48 w-full object-cover mb-4">
				<p class="text-black">Avec le soutien du Gouvernement, nous créons de nouveaux métiers pour promouvoir la société numérique...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">US' Emploi</h2>
				<img src="{{ asset('img/service/us.png') }}" alt="US' Emploi" class="h-48 w-full object-cover mb-4">
				<p class="text-black">L’action "Tout pour l’Emploi" vise à accompagner des personnes en difficultés sociales et professionnelles vers un emploi durable...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Ateliers de professionnalisation</h2>
				<img src="{{ asset('img/service/ateliers.png') }}" alt="Ateliers de professionnalisation" class="h-48 w-full object-cover mb-4">
				<p class="text-black">L'US en collaboration avec des universités, instituts supérieurs, voire des écoles organise au bénéfice des étudiants...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Organisation des jeux concours</h2>
				<img src="{{ asset('img/service/organisation.png') }}" alt="Organisation des jeux concours" class="h-48 w-full object-cover mb-4">
				<p class="text-black">L'US organise des jeux concours sur sa plateforme ou non dans l’intention d’accompagner les écoliers...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Espace Numérique de Travail (ENT)</h2>
				<img src="{{ asset('img/service/espace.png') }}" alt="Espace Numérique de Travail (ENT)" class="h-48 w-full object-cover mb-4">
				<p class="text-black">Dans un monde de plus en plus numérique, la création d’une plateforme avec un Espace numérique de travail offre une solution aux étudiants congolais...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Accompagnement des entrepreneurs</h2>
				<img src="{{ asset('img/service/accompagnement.png') }}" alt="Accompagnement des entrepreneurs" class="h-48 w-full object-cover mb-4">
				<p class="text-black">L'US accompagne les entrepreneurs dans l’élaboration de leurs projets, plans d’affaires (business plan), statuts, contrat de travail, règlement intérieur...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Study Coaching Center</h2>
				<img src="{{ asset('img/service/study.png') }}" alt="Study Coaching Center" class="w-full h-auto">
				<p class="text-black">C’est l’action de la société pour l’accompagnement de tout étudiant porteur d’un projet d’études à l’international...</p>
			</div>

			<div class="bg-white p-6 rounded-lg shadow">
				<h2 class="text-2xl font-bold mb-4 text-black">Study Coaching Center</h2>
				<img src="{{ asset('img/service/etude.png') }}" alt="Study Coaching Center" class="h-48 w-full object-cover mb-4">
				<p class="text-black">C’est l’action de la société pour l’accompagnement de tout étudiant porteur d’un projet d’études à l’international...</p>
			</div>
		</div>
	</main>
{% endblock %}
