{% extends 'base.html.twig' %}

{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app']) }}
	{% endblock %}
{% endblock %}

{% block body %}
	<div class="bg-gray-100 font-sans flex items-center justify-center min-h-screen p-6">
		<div class="w-full max-w-2xl bg-white shadow-lg rounded-lg overflow-hidden">
			<div class="p-6">
				<h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">Mes Informations</h1>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4">
					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Nom :</span>
						<span class="w-2/3 text-gray-900">{{ name ? name : 'Non spécifié' }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Prénom :</span>
						<span class="w-2/3 text-gray-900">{{ firstname ? firstname : 'Non spécifié' }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Postnom :</span>
						<span class="w-2/3 text-gray-900">{{ postname ? postname : 'Non spécifié' }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Email :</span>
						<span class="w-2/3 text-gray-900">{{ email }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Téléphone :</span>
						<span class="w-2/3 text-gray-900">{{ phone ? phone : 'Non spécifié' }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Date de Naissance :</span>
						<span class="w-2/3 text-gray-900">{{ date_of_birth ? date_of_birth|date('d/m/Y') : 'Non spécifiée' }}</span>
					</div>

					<div class="flex items-center font-semibold text-gray-700 border-b border-gray-200 py-2">
						<span class="w-1/3">Adresse :</span>
						<span class="w-2/3 text-gray-900">{{ address ? address : 'Non spécifiée' }}</span>
					</div>

					{# {% if status_demarches is not null %}
						<div class="flex items-center font-semibold text-gray-700 py-2">
							<span class="w-1/3">Statut des Démarches :</span>
							<span class="w-2/3 text-gray-900">{{ status_demarches }}</span>
						</div>
					{% endif %} #}
<a href="{{ path('app_editpassword') }}" class="text-red-600 py-2 px-4">
	Changer mon mot de passe
</a>


				</div>


				<!-- Back Button with Conditional Redirection -->
				<div class="mt-6 text-center">
					{% if role == 'ROLE_COACH' %}
						<a href="{{ path('app_coachepage') }}" class="bg-custom-blue text-white py-2 px-4 rounded hover:text-custom-hover">
							Retour à la Page Coach
						</a>
					{% elseif role == 'ROLE_ADMIN' %}
						<a href="{{ path('app_adminpage') }}" class="bg-custom-blue text-white py-2 px-4 rounded hover:text-custom-hover">
							Retour à la Page Admin
						</a>
					{% elseif role == 'ROLE_STUDENT' %}
						<a href="{{ path('home') }}" class="bg-custom-blue text-white py-2 px-4 rounded hover:text-custom-hover">
							Retour à la Page profile
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

