{% extends 'base.html.twig' %}

{% block title %}User List
{% endblock %}

{% block body %}
	<!-- Container principal avec espacement supérieur ajusté -->
	<div class="container mx-auto px-4 py-8 mt-20 md:mt-16 lg:mt-24">
		<!-- Espacement supérieur ajouté ici -->

		<!-- Statistiques des effectifs -->
			<div
			class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mb-8"> <!-- Admin Card -->
			<div class="bg-gray-200 rounded-lg shadow-md p-4 flex items-center">
				<div class="bg-[#14213D] text-white rounded-l-lg p-4">
					<img src="{{ asset('img/admin/iconadmin.png') }}" alt="Icon Admin" class="w-8 h-8">
				</div>
				<div class="ml-4">
					<p class="text-sm font-medium">Effectif ADMIN</p>
					<p class="text-3xl font-bold">{{ totalAdmin }}</p>
				</div>
			</div>

			<!-- User Card -->
			<div class="bg-gray-200 rounded-lg shadow-md p-4 flex items-center">
				<div class="bg-[#14213D] text-white rounded-l-lg p-4">
					<img src="{{ asset('img/admin/iconuser.png') }}" alt="Icon User" class="w-8 h-8">
				</div>
				<div class="ml-4">
					<p class="text-sm font-medium">Effectif USER</p>
					<p class="text-3xl font-bold">{{ totalUser }}</p>
				</div>
			</div>

			<!-- Coach Card -->
			<div class="bg-gray-200 rounded-lg shadow-md p-4 flex items-center">
				<div class="bg-[#14213D] text-white rounded-l-lg p-4">
					<img src="{{ asset('img/admin/iconcoache.png') }}" alt="Icon Coach" class="w-8 h-8">
				</div>
				<div class="ml-4">
					<p class="text-sm font-medium">Effectif COACH</p>
					<p class="text-3xl font-bold">{{ totalCoach }}</p>
				</div>
			</div>
		</div>

		<!-- En-tête et boutons d'action -->
		<div class="flex space-x-5 flex-col sm:flex-row justify-between items-center mb-6">

			<h1 class="text-2xl font-bold mb-4 sm:mb-0 order-2 sm:order-1">Liste des utilisateurs</h1>
			<!-- Ajustement ici -->
			<div class="flex space-x-2 order-1 sm:order-2">
				<a href="{{ path('app_new') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
					Messager
				</a>
				<a href="{{ path('app_documents_index') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
					Documents envoyés
				</a>
				<a href="{{ path('app_new') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
					Ajouter un utilisateur
				</a>
				<a href="{{ path('app_step_new') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">

					Ajouter un Rdv
				</a>

			</div>
		</div>


		<!-- Tableau des utilisateurs avec overflow responsive -->
		<div class="overflow-x-auto max-h-96">
			<table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
				<thead class="bg-gray-100 sticky top-0 z-10">
					<tr class="border-b">
						<th class="py-4 px-4 text-left text-gray-700">Nom</th>

						<th class="py-4 px-4 text-left text-gray-700">Prénom</th>
						<th class="py-4 px-4 text-left text-gray-700">Sexe</th>
						<th class="py-4 px-4 text-left text-gray-700">Téléphone</th>
						<th class="py-4 px-4 text-left text-gray-700">Email</th>
						<th class="py-4 px-4 text-left text-gray-700">Numéro de Passeport</th>
						<th class="py-4 px-4 text-left text-gray-700"></th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						{% set profile = user.profile %}
						{% set passport = profile.passport %}
						<tr class="border-b hover:bg-gray-50 cursor-pointer" role="button" tabindex="0" onclick="window.location='{{ path('app_user_profile', { id: user.id }) }}';">

							<td class="py-2 px-4">{{ profile.name }}</td>

							<td class="py-2 px-4">{{ profile.firstname }}</td>
							<td class="py-2 px-4">{{ profile.genre.value ?? '' }}</td>
							<td class="py-2 px-4">{{ profile.phone }}</td>
							<td class="py-2 px-4">{{ user.email }}</td>
							<td class="py-2 px-4">{{ passport.numberPassport ?? '' }}</td>
							<td
								class="py-2 px-4">
								{# <img src="{{ asset('img/admin/edit.png') }}" alt="Icon edit " class="inline w-6 h-6"/> #}
								<img src="{{ asset('img/admin/mail.png') }}" alt="Icon edit " class="inline w-6 h-6"/>

								<img
								src="{{ asset('img/admin/create.png') }}" alt="Icon edit " class="inline w-6 h-6"/>


							<!-- Image dans la dernière colonne -->
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>


	</div>
{% endblock %}

