{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur
{% endblock %}
{% block javascripts %}
	{% block importmap %}
		{{ importmap(['app', 'faq']) }}


	{% endblock %}
{% endblock %}


{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			{% include '_notification.html.twig' %}
		{% endfor %}
	{% endfor %}

	<div
		class="container mx-auto px-4 py-12 mt-8">
		<!-- Marge supérieure ajoutée ici -->
		<h1 class="text-3xl font-bold mb-6 text-center text-[#14213D]">Profil de l'utilisateur</h1>
		<!-- Couleur et taille du titre -->

		<div
			class="bg-gray-100 p-6 rounded-lg shadow-lg space-y-4">
			<!-- Espace entre les paragraphes -->
			{% set labelColor = '#14213D' %}
			<!-- Couleur pour les labels -->
			{% set valueColor = 'text-gray-800' %}
			<!-- Couleur pour les valeurs avec une nuance plus foncée -->

			<p>
				<strong class="text-[#14213D]">Nom :</strong>
				<span class="{{ valueColor }}">{{ user.profile.name }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Post Nom :</strong>
				<span class="{{ valueColor }}">{{ user.profile.postname }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Prénom :</strong>
				<span class="{{ valueColor }}">{{ user.profile.firstname }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Date de naissance :</strong>
				<span class="{{ valueColor }}">{{ user.profile.dateOfBirth ? user.profile.dateOfBirth|date('d-m-Y') : 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Sexe :</strong>
				<span class="{{ valueColor }}">{{ user.profile.genre.value ?? 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Téléphone :</strong>
				<span class="{{ valueColor }}">{{ user.profile.phone }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Email :</strong>
				<span class="{{ valueColor }}">{{ user.email }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Rôle :</strong>
				<span class="{{ valueColor }}">{{ user.roles|join(', ') }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Équipe :</strong>
				<span class="{{ valueColor }}">{{ user.teams.team }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Numéro de Passeport :</strong>
				<span class="{{ valueColor }}">{{ user.profile.passport.numberPassport ?? 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Date d'expiration :</strong>
				<span class="{{ valueColor }}">{{ user.profile.passport.dateExpiration ? user.profile.passport.dateExpiration|date('d-m-Y') : 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Nationalité :</strong>
				<span class="{{ valueColor }}">{{ user.profile.passport.nationalite ?? 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Profession :</strong>
				<span class="{{ valueColor }}">{{ user.profile.passport.profession ?? 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Adresse :</strong>
				<span class="{{ valueColor }}">{{ user.profile.address }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Status des démarches :</strong>
				<span class="{{ valueColor }}">{{ user.profile.passport.statusDemarches ?? 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Date de création :</strong>
				<span class="{{ valueColor }}">{{ user.profile.dateCreation ? user.profile.dateCreation|date('d-m-Y') : 'Non renseigné' }}</span>
			</p>
			<p>
				<strong class="text-[#14213D]">Date d'inscription :</strong>
				<span class="{{ valueColor }}">{{ user.profile.dateInscrit ? user.profile.dateInscrit|date('d-m-Y') : 'Non renseigné' }}</span>
			</p>
			<div class="mt-8">
				<h2 class="text-2xl font-bold text-[#14213D]">Rendez-vous</h2>

				{% if user.appointments is not empty %}
					<ul class="space-y-4">
						{% for appointment in user.appointments %}
							<li class="bg-white p-4 rounded-md shadow-md">
								<p>
									<strong class="text-[#14213D]">Date du rendez-vous :</strong>
									{{ appointment.getAppointmentDate ? appointment.getAppointmentDate|date('d-m-Y') : 'Non renseigné' }}</p>
								<p>
									<strong class="text-[#14213D]">Heure du rendez-vous :</strong>
									{{ appointment.getAppointmentTime ? appointment.getAppointmentTime|date('H:i') : 'Non renseigné' }}</p>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p class="text-gray-500">Aucun rendez-vous trouvé.</p>
				{% endif %}
			</div>


		</div>

		<div
			class="mt-6 flex flex-col sm:flex-row justify-between items-center">
			<!-- Flex pour aligner les boutons -->
			<a href="{{ path('app_adminpage') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300 mb-2 sm:mb-0">
				Retour
			</a>
			<a href="{{ path('app_edit', { id: user.id }) }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
				Modifier le Profil
			</a>
		</div>
	</div>
{% endblock %}
