{% extends 'base.html.twig' %}

{% block title %}Ajouter un rendez-vous à l'utilisateur
{% endblock %}

{% block body %}
	<h1 class="text-2xl font-bold mb-6 text-black">Ajouter un rendez-vous à
		{{ user.email }}</h1>

	<div class="bg-white p-6 rounded-lg shadow-md mb-6">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
			{{ button_label|default('Ajouter un rendez-vous') }}
		</button>
		{{ form_end(form) }}
	</div>

	<div class="mt-6 flex justify-between">
		<a href="{{ path('app_appointment_index') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
			Retour à la liste des rendez-vous
		</a>
	</div>
{% endblock %}

