<footer>
	<div class="footer-container">

		<div class="help-section">
			<h3 class="footer-help">BESOIN D'AIDE ?</h3>
			<div class="later">
				<a class="footer-answer" href="{{ path('app_faq')}}">Faq</a>
				<a class="footer-answer" href="{{ path('app_contact')}}">Contact</a>
			</div>
		</div>

		<div class="social-section">
			<h3 class="footer-help">RESTER CONNECTÉ</h3>
			<div class="ft">
				<a class="logo" href="https://www.facebook.com/YourPageName" target="_blank"><img src="{{ asset('img/home/facebook.png') }}" alt="Logo du site"></a><br>
				<a class="logo" href="https://www.youtube.com/YourChannelName"><img src="{{ asset('img/home/youtube.png') }}" alt="Logo du site"></a>
			</div>
		</div>
		<div class="logo">
			<img src="{{ asset('img/home/logos.png') }}" alt="Logo du site">
		</div>


		<div class="contact-section">
			<h3 class="footer-help">CONTACT</h3>
			<p class="footer-answer">
				Adresse : 5573, Avenue Kauka a/Batetela<br>
				Commune/Gombe Immeuble Maisha Park<br>
				Local C12, Kinshasa, Democratic Republic of the Congo<br>
				Tél: +243 999 103 505<br>
				E-mail:
				<a href="mailto:univsc288@gmail.com">univsc288@gmail.com</a>
			</p>
		</div>
	</div>
<div class="credits-content">
	<p>
		<a href="/mentions-legales" class="credits-link">Mentions Légales</a>
		|
		<a href="/politique-de-confidentialite" class="credits-link">Politique de Confidentialité</a>
	</p>
	<p>&copy;
		<span id="current-year"></span>
		Univers du Scientifique. Tous droits réservés.</p>
</div>

</footer>
