{% extends 'base.html.twig' %}

{% block title %}Conversations Existantes
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-40 my-8 p-4 min-h-screen flex flex-col justify-between">
		<div>
			<div class="flex justify-between items-center mb-4">
				<h1 class="text-2xl font-bold">Vos Conversations Existantes</h1>
				<a href="{{ path('app_conversation_list') }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
					Nouveau message
				</a>
			</div>

			<ul class="mt-4 space-y-4">
				{% for conversation in conversations %}
					<a href="{{ path('app_conversation_show', { 'id': conversation.id }) }}" class="block">
						<li class="flex items-center justify-between space-x-4 bg-gray-100 p-4 rounded hover:bg-gray-200 transition">
							<div>
								{% set otherParticipant = null %}
								{% for participant in conversation.participants %}
									{% if participant != app.user %}
										{% set otherParticipant = participant %}
									{% endif %}
								{% endfor %}
								{% if otherParticipant %}
									<strong class="text-lg font-semibold">{{ otherParticipant.profile ? otherParticipant.profile.firstname : 'Nom indisponible' }}</strong>
								{% endif %}
							</div>
							<div class="text-sm text-gray-500">
								{% set lastMessage = conversation.messages|last %}
								{% if lastMessage %}
									<span>{{ lastMessage.createdAt|date('d-m-Y H:i') }}</span>
								{% else %}
									<span>Aucun message</span>
								{% endif %}
							</div>
						</li>
					</a>
				{% else %}
					<li class="text-gray-500">Aucune conversation existante trouvée.</li>
				{% endfor %}
			</ul>


			{% set return_path = path(
			is_granted('ROLE_ADMIN') ? 'app_adminpage' :
			(is_granted('ROLE_COACH') ? 'app_coachepage' :
			(is_granted('ROLE_STUDENT') ? 'app_student' : 'app_existing_conversations'))
		) %}

			<div class="flex justify-center mt-8">
				<a href="{{ return_path }}" class="bg-[#14213D] text-white py-2 px-4 rounded hover:text-[#b49047] transition duration-300">
					Retour
				</a>
			</div>
		</div>
	</div>
{% endblock %}
